body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: #008081;
    overflow: hidden;
}

* {
    box-sizing: border-box;
    overflow: hidden;
}

.container.chatapp {
    width: 60%;
    height: 70%;
    border: 1px solid #666;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 15%;
    left: 20%;
    background: linear-gradient(to right, navy , skyblue);
    box-shadow: 4px 4px 8px #555;
    z-index: 9;
    cursor: move;
    overflow: hidden;
}

.container.homeapp {
    width: 40%;
    height: 45%;
    border: 1px solid #666;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 10%;
    left: 10%;
    background: linear-gradient(to right, navy , skyblue);
    box-shadow: 4px 4px 8px #555;
    z-index: 9;
    cursor: move;
    overflow: hidden;
    display: none;
}

.container.userinfo, .container.readme {
    width: 20%;
    height: 44%;
    border: 1px solid #666;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 9%;
    left: 9%;
    background: linear-gradient(to right, navy , skyblue);
    box-shadow: 4px 4px 8px #555;
    z-index: 9;
    cursor: move;
    overflow: hidden;
    display: none;
}

.container.userinfo .main-files, .container.readme .main-files {
    padding: 15px;
}

.container.readme {
    top: 8%;
    right: 8%;
}

.main-files {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    border: 4px solid lightgray;
    cursor: default;
}

.container span, .home-container span {
    display: inline-block;
    position: absolute;
    left: 22px;
    top: 4px;
    color: whitesmoke;
    font-family: sans-serif;
    user-select: none;
}

.square {
    height: 22px;
    width: 22px;
    color: black;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    background-color: silver;
    float: right;
    font-family: sans-serif;
    text-align: center;
    margin-right: 2px;
    border-radius: 2px;
    font-weight: bold;
    cursor: default;
    user-select: none;
    position: relative;
    top: 4px;
}

.square:active {
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    top: 5px;
}

#logo {
    color: aqua;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.mainbody, .chatbody {
    position: absolute;
    top: 30px;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: antiquewhite;
    border-top: 1px solid #666;
    cursor: default;
}

.chatbody {
    display: none;
    height: 99%;
    overflow: hidden;
}

.welcome {
    margin-top: 10%;
    display: block;
    width: 100%;
    text-align: center;
    height: auto;
    font-family: serif;
}

.inputdiv {
    text-align: center;
    display: block;
    width: 100%;
    margin-top: 10%;
}

input {
    width: 30%;
    height: 35px;
    display: inline-block;
    border: 1px solid black;
}

.submit {
    width: 10%;
    height: 35px;
    background-color: blue;
    display: inline-block;
    vertical-align: top;
    position: relative;
    border-top: 2px solid #a9e0e0;
    border-left: 2px solid #a9e0e0;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    cursor: pointer;
}

.submit span {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    font-family: sans-serif;
    transform: translate(-50%,-50%);
    text-shadow: -1px -1px 2px #a9e0e0;
    user-select: none;
}

.submit:active {
    border-bottom: 2px solid #a9e0e0;
    border-right: 2px solid #a9e0e0;
    border-top: 2px solid black;
    border-left: 2px solid black;
    top: 2px;
}

.colorbox {
    width: 310px;
    display: block;
    margin: 10% auto;
    height: auto;
}

.color {
    width: 20px;
    height: 20px;
    margin: 10px;
    border-radius: 100%;
    border: 1px solid black;
    display: inline-block;
    cursor: pointer;
}

.color.red {
    background-color: FireBrick;
}

.color.orange {
    background-color: DarkOrange;
}

.color.yellow {
    background-color: Gold;
}

.color.green {
    background-color: green;
}

.color.blue {
    background-color: blue;
}

.color.indigo {
    background-color: indigo;
}

.color.violet {
    background-color: orchid;
}

.color:hover {
    border: 2px solid brown;
    box-shadow: 2px 2px 5px black;
}

.color.selected {
    border: 2px solid black;
    box-shadow: 4px 4px 8px black;
}

.begin-bar {
    width: 100%;
    height: 40px;
    background-color: silver;
    border-top: 2px solid lightgray;
    border-bottom: 2px solid gray;
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: visible;
}

.begin-button {
    width: 100%;
    height: 100%;
    border-bottom: 2px solid gray;
    border-right: 2px solid gray;
    border-top: 2px solid lightgray;
    border-left: 2px solid lightgray;
    position: relative;
    user-select: none;
}

.begin-container {
    width: 100px;
    height: 90%;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-top: 2px solid white;
    border-left: 2px solid white;
    display: inline-block;
    margin: 1px 10px 0px 4px;
}

.open-app {
    display: inline-block;
    height: 88%;
    margin-top: 1px;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    border-top: 2px solid #444;
    border-left: 2px solid #444;
    background-color: lightgray;
    padding-left:4px;
    width: 200px;
    vertical-align: top;
    border-radius: 2px;
    cursor: default;
    overflow: hidden;
}



.close-app {
    display: inline-block;
    height: 88%;
    margin-top: 1px;
    border-bottom: 2px solid #444;
    border-right: 2px solid #444;
    border-top: 2px solid white;
    border-left: 2px solid white;
    background-color: silver;
}

.open-app.homeapp, .open-app.readme, .open-app.userinfo  {
    display: none;
}

.time-box {
    display: inline-block;
    margin-right: 10px;
    margin-top: 1px;
    float: right;
    height: 88%;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    border-top: 2px solid gray;
    border-left: 2px solid gray;
    padding: 0px 4px;
    width: 80px;
    position: relative;
}

.time-box span {
    color: #444;
    font-family: sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 0.9em;
}

#begin {
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    transform: translate(-55%,-55%);
    color: black;
    width: 100%;
    text-align: center;
    font-family: serif;
    font-weight: bold;
}

.desktop-icon {
    position: absolute;
    width: auto;
    display: inline-block;
    height: auto;
    text-align: center;
    color: white;
}

.desktop-icon p {
    margin: 0px;
    font-size: 0.9em;
    font-weight: bold;
    user-select: none;
    cursor: default;
    border: 1px dotted transparent;
    font-family: sans-serif;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.desktop-icon p:first-child {
    font-size: 3em;
}

.desktop-icon p.highlighted {
    background-color: rgba(0,36,100,0.15);
    border-radius: 4px;
    border: 1px dotted rgba(190,190,190,0.5);
}

.homeapp {
    top: 10px;
    left: 20px;
}

.chatapp {
    top: 120px;
    left: 20px;
}

#desktop {
    width: 100%;
    height: 100%;
    padding-bottom: 40px;
    overflow: hidden;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
    overflow: hidden;
}

/*---------------------------*/

.Cats {
    background-image: url('./bgs/winbg2.jpg');
    background-repeat: repeat;
}

.Clouds {
    background-image: url('./bgs/winbg3.jpg');
    background-repeat: repeat;
}

.Dota {
    background-image: url('./bgs/winbg4.png');
    background-repeat: repeat;
}

.Burgers {
    background-image: url('./bgs/winbg5.png');
    background-repeat: repeat;
}

.Bots {
    background-image: url('./bgs/winbg6.jpg');
    background-repeat: repeat;
}

.Adventure {
    background-image: url('./bgs/winbg7.png');
    background-repeat: repeat;
}

.Skulls {
    background-image: url('./bgs/winbg8.gif');
    background-repeat: repeat;
}

.Default {
    background-image: none;
    background-repeat: repeat;
}

.begin-menu {
    position: absolute;
    height: 450px;
    width: 230px;
    top: -452px;
    left: 1px;
    background-color: silver;
    border-top: 2px solid lightgray;
    border-right: 2px solid lightgray;
    color: black;
    font-size: 1.1em;
    padding-left: 5px;
    z-index: 10000;
    display: none;
}

.begin-menu li {
    height: 50px;
    width: 100%;
    margin: 0;
    font-size: 1.5em;
    padding-left: 25px;
    user-select: none;
}

.begin-menu li:hover {
    background-color: blue;
    color: white;
}

.begin-menu ul {
    list-style: none;
    margin: 0;
    margin-top: 15px;
    width: 100%;
    padding: 0;
}

.file-list .desktop-icon {
    position: static;
    width: auto;
    display: inline-block;
    height: auto;
    text-align: center;
    color: #333;
    left: 10px;
    margin-left: 15px;
}


.file-list .desktop-icon p {
    margin: 0px;
    font-size: 0.9em;
    font-weight: normal;
    user-select: none;
    cursor: default;
    border: 1px dotted transparent;
    font-family: sans-serif;
    text-shadow: 0 0 0 black;
}

.file-list .desktop-icon p:first-child {
    font-size: 3em;
    color: brown;
}

.file-list .desktop-icon p.highlighted {
    background-color: rgba(0,36,100,0.15);
    border-radius: 4px;
    border: 1px dotted rgba(190,190,190,0.5);
}
